.idea/
.vscode/

env/
venv/
.venv/

.DS_Store
.ipynb_checkpoints

notebooks/.env
notebooks/datasets/
notebooks/_v/
notebooks/results/
notebooks/yolo26m.pt
notebooks/yolo26n.pt
notebooks/yolo26x.pt
notebooks/test-setup-02-train-hparams/_v/
notebooks/test-setup-02-train-hparams/datasets/
notebooks/test-setup-02-train-hparams/results/
notebooks/test-setup-02-train-hparams/runs/